{% extends "::base.html.twig" %}

{% block body %}
<h1>Libro Menor</h1>

	{{ form_start(searchForm) }}
        {{ form_widget(searchForm) }}
    {{ form_end(searchForm) }}

    <table class="table table-stiped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Haber</th>
                <th>Debe</th>
            </tr>
        </thead>
        <tbody>
        {% for voucher in vouchers %}
            <tr>
                <td>{{ voucher.date|date('d-m-Y') }}</td>
                <td>{{ voucher.number }}</td>
                <td>{{ voucher.type }}</td>
                <td>{{ voucher.getCredit }}</td>
                <td>{{ voucher.getDebit }}</td>
            <tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
    <script src="{{ asset('js/itemCollection.js') }}"></script>
        
{% endblock %}

