{% extends "::base.html.twig" %}

{% block body %}
    <button id="printButton" class="btn btn-default" style="float:right" onclick="printReady()" type="submit"><span class="glyphicon glyphicon-print"></span></button> 
<h1>Libro Menor</h1>

    <table class="table" >
        <tbody>
            <tr>
                <th>Empresa</th>
                <td>{{ app.session.get('enterprise').name }}</td>
            </tr>
            <tr>
                <th>Desde</th>
                <td>{{from|date('d-m-Y')}}</div></td>
            </tr>
            <tr>
                <th>Hasta</th>
                <td>{{until|date('d-m-Y')}}</td>
            </tr>
        </tbody>
    </table>

	{{ form_start(searchForm) }}
        {{ form_widget(searchForm) }}
    {{ form_end(searchForm) }}
    <br>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Número</th>
                <th>Fecha</th>
                <th>Código</th>
                <th>Cuenta</th>
                <th>Voucher</th>
                <th>Tipo</th>
                <th>Haber</th>
                <th>Debe</th>
            </tr>
        </thead>
        <tbody>
        {% set count = 1 %}
        {% for voucher in vouchers %}
            <tr>
                <td rowspan="{{voucher.getRowspan}}">{{ count }}</td>
                <td rowspan="{{voucher.getRowspan}}">{{ voucher.date|date('d-m-Y') }}</td>
                <td rowspan="{{voucher.getRowspan}}">{{ voucher.getFullCode }}</td>
                <td rowspan="{{voucher.getRowspan}}">{{ voucher.accountL3.name }}</td>
                <td rowspan="{{voucher.getRowspan}}">{{ voucher.number }}</td>
                <td rowspan="{{voucher.getRowspan}}">{{ voucher.type }}</td>
                <td><italic>{{ voucher.getCredit }}</italic></td>
                <td><italic>{{ voucher.getDebit }}</italic></td>
                {% for item in voucher.items %}
                    <tr>
                        <td>{{ item.credit }}</td>
                        <td>{{ item.debit }}</td>
                    </tr>
                {% endfor %}
            <tr>
        {% set count = count + 1 %}
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        function printReady() {
            $('form').hide();
            $('#printButton').hide();
            window.print();          
            $('form').show();
            $('#printButton').show();
        }
    </script>



{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
    <script src="{{ asset('js/itemCollection.js') }}"></script>
        
{% endblock %}

