{% extends "::base.html.twig" %}

{% block body %}
    <button id="printButton" class="btn btn-default" style="float:right" onclick="printReady()" type="submit"><span class="glyphicon glyphicon-print"></span></button>

    <table>
        <tbody>
            <tr>
                <th>Empresa</th>
                <td style="padding: 0 5px">:</td>
                <td>{{ app.session.get('enterprise').name }}</td>
            </tr>
            <tr>
                <th>R.U.T</th>
                <td style="padding: 0 5px">:</td>
                <td>{{app.session.get('enterprise').rut}}</div></td>
            </tr>
            <tr>
                <th>DIRECCIÓN</th>
                <td style="padding: 0 5px">:</td>
                <td>{{app.session.get('enterprise').address}}</div></td>
            </tr>
            <tr>
                <th>GIRO</th>
                <td style="padding: 0 5px">:</td>
                <td>{{app.session.get('enterprise').order}}</div></td>
            </tr>
        </tbody>
    </table>


<center>
    <h1>Libro Diario</h1>
    <p>Desde {{from|date('d-m-Y')}} al {{until|date('d-m-Y')}}</p>
</center>


	{{ form_start(searchForm) }}
        {{ form_widget(searchForm) }}
    {{ form_end(searchForm) }}
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>CUENTA</th>
                <th></th>
                <th>NUMERO DOCUMENTO</th>
                <th>GLOSA</th>
                <th>DEBE</th>
                <th>HABER</th>
            </tr>
        </thead>
        <tbody>
        {% for voucher in vouchers %}
            <tr>
                <th>{{ voucher.number }}</th>
                <th>{{ voucher.date|date('d-m-Y') }}{{voucher.type}}</th>
                <th colspan="4"></th>
                {% for item in voucher.items %}
                    <tr>
                        <td>{{ item.accountL3.getFullCode }}</td>
                        <td>{{ item.accountL3.name }}</td>
                        <td>{{ item.documentNumber }}</td>
                        <td>glosa***</td>
                        <td>{{ item.credit }}</td>
                        <td>{{ item.debit }}</td>
                    </tr>
                {% endfor %} 
            </tr>    
            <tr>
                <th colspan="4"></th>             
                <th><italic>{{ voucher.getCredit }}</italic></th>
                <th><italic>{{ voucher.getDebit }}</italic></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        jQuery(document).ready(function() 
        {
            $(".js-basic-single").select2({
                allowClear: false,
                width: '100%'
            });
        });

        function printReady() {
            $('form').hide();
            $('#printButton').hide();
            window.print();
            $('form').show();
            $('#printButton').show();
        }
    </script>



{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
        
{% endblock %}

