{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nueva Cuenta N2</h1>

    {{accountL1.name}}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <input type="submit" class="btn btn-success btn-sm" value="Create" />
    {{ form_end(form) }}

    <a href="{{ path('accountl2_index') }}" class="btn btn-primary btn-sm">Ver cuentas</a>

{% endblock %}
