{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cuenta nivel 2</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Cuenta N1</th>
                <td>{{ accountL2.accountL1.name }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ accountL2.name }}</td>
            </tr>
            <tr>
                <th>Código</th>
                <td>{{ accountL2.code }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('accountl2_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('accountl2_edit', { 'id': accountL2.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
