{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nueva cuenta N3</h1>

    {{accountL2.accountL1.name}} > {{accountL2.name}}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}
{% endblock %}
