{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cuentas</h1>

    <table class="table table-stiped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Código</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for accountL1 in accountL1s %}
            <tr>
                <td><a href="{{ path('accountl1_show', { 'id': accountL1.id }) }}">{{ accountL1.id }}</a></td>
                <td>{{ accountL1.name }}</td>
                <td>{{ accountL1.code }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('accountl1_show', { 'id': accountL1.id }) }}" class="btn btn-info btn-xs" role="button">ver</a>
                        </li>
                        <li>
                            <a href="{{ path('accountl1_edit', { 'id': accountL1.id }) }}" class="btn btn-primary btn-xs">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('accountl1_new') }}" class="btn btn-primary btn-sm">Nueva Cuenta</a>

{% endblock %}
