{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br>
        <input type="submit" class="btn btn-success btn-sm" value="Guardar" />
    {{ form_end(edit_form) }}

    <a href="{{ path('enterprise_index') }}" class="btn btn-primary btn-sm">Ver Empresas</a>
    {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger btn-sm" value="Eliminar">
    {{ form_end(delete_form) }}

{% endblock %}
