{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empresas</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for enterprise in enterprises %}
            <tr>
                <td><a href="{{ path('enterprise_show', { 'id': enterprise.id }) }}">{{ enterprise.id }}</a></td>
                <td>{{ enterprise.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('enterprise_show', { 'id': enterprise.id }) }} role="button" class="btn btn-info btn-xs" role="button"">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('enterprise_edit', { 'id': enterprise.id }) }}" class="btn btn-primary btn-xs" role="button">Editar</a>
                        </li>
                        <li>
                            <a href="{{ path('enterprise_set', { 'id': enterprise.id }) }}" class="btn btn-success btn-xs" role="button">Usar</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('enterprise_new') }}" class="btn btn-primary btn-sm" role="button">Crear Nueva</a>
{% endblock %}
