{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empresa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enterprise.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ enterprise.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('enterprise_index') }}" class="btn btn-info btn-sm">Ver Empresas</a>
    <a href="{{ path('enterprise_edit', { 'id': enterprise.id }) }}" class="btn btn-primary btn-sm">Editar</a>

    {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger btn-sm" value="Borrar">
    {{ form_end(delete_form) }}
{% endblock %}
