{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar Voucher {{voucher.number}}</h1>

    {{ form_start(edit_form) }}
        {{ form_label(edit_form.state) }}
        {{ form_widget(edit_form.state) }}
        {{ form_label(edit_form.type) }}
        {{ form_widget(edit_form.type) }}
        {{ form_label(edit_form.number) }}
        {{ form_widget(edit_form.number) }}
        {{ form_label(edit_form.date) }}
        {{ form_widget(edit_form.date) }}
        {{ form_label(edit_form.items) }}
        <ol class="items" data-prototype="{{ form_widget(edit_form.items.vars.prototype)|e('html_attr') }}">
            <li style="display:inline-flex;">
                <div class="head">Haber</div>
                <div class="head">Debe</div>
                <div class="head">Número Documento</div>
            </li>
            {# iterate over each existing tag and render its only field: name #}
            {% for item in edit_form.items %}
                <li>{{ form_row(item.credit) }}{{ form_row(item.debit) }}{{ form_row(item.documentNumber) }}</li>
            {% endfor %}
        </ol>
        <input type="submit" class="btn btn-success" value="Guardar"/>
    {{ form_end(edit_form) }}
    
    {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger" value="Eliminar">
    {{ form_end(delete_form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
    <script src="{{ asset('js/itemCollection.js') }}"></script>
        
{% endblock %}
