{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ingresar Voucher</h1>

    {{ form_start(form) }}
        {{ form_label(form.state) }}
        {{ form_widget(form.state) }}
        {{ form_label(form.type) }}
        {{ form_widget(form.type) }}
        {{ form_label(form.number) }}
        {{ form_widget(form.number) }}
        {{ form_label(form.date) }}
        {{ form_widget(form.date) }}
        {{ form_label(form.items) }}
        <ol class="items" data-prototype="{{ form_widget(form.items.vars.prototype)|e('html_attr') }}">
            <li style="display:inline-flex;">
                <div class="head">Haber</div>
                <div class="head">Debe</div>
                <div class="head">Número Documento</div>
            </li>
            {# iterate over each existing tag and render its only field: name #}
            {% for item in form.items %}
                <li>{{ form_row(item.credit) }}{{ form_row(item.debit) }}{{ form_row(item.documentNumber) }}</li>
            {% endfor %}
        </ol>
        <input type="submit" class="btn btn-success" value="Crear"/>
    {{ form_end(form) }}

    <a href="{{ path('voucher_index') }}" class="btn btn-info">Ver Vouchers</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
    <script src="{{ asset('js/itemCollection.js') }}"></script>
        
{% endblock %}
